html,
body {
    margin: 0;
    position:relative;
	height: 100%;
    -webkit-user-select: none;
}

canvas
{
	background-color:#ccc;
}
canvas[resize] {
    width: 100%;
    height: 96%;
}

#status_en, #status_ja{
	font-size:80%;
}

#div_canvas{
	top: 0px;
	position: absolute;
	width: 100%;
	height: 100%;
}
#div_help{
	top: 0px;
	left: 20px;
	position: absolute;
	color:#888;
}
